.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  padding: 20px 0;
}

.card {
  background-color: #fff;
  max-width: 300px;
  border-radius: 5%;
}

.button {
  margin-right: 5px;
}

.image {
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
}

.title {
  display: flex;
  font-size: 20px;
  margin: 10px 10px 0;
  justify-content: space-between;
}

.example-spacer {
  flex: 1 1 auto;
}

.buttons {
  gap: 20px;
  justify-content: center;
}
