<div class="container">
  <mat-card class="card" *ngFor="let product of products">
    <img class="image" mat-card-image src="{{product.image}}" alt="apples"/>
    <div class="title">
      <p>{{product.title}}</p>
      <p>{{product.price | currency}}</p>
    </div>
    <mat-card-actions class="buttons">
      <button class="button" mat-flat-button (click)="deleteItem(product.id)">Delete</button>
      <button class="button" mat-flat-button (click)="openDialog(product)">Edit</button>
      <button class="button" mat-flat-button (click)="addToBasket(product)">Add</button>
    </mat-card-actions>
  </mat-card>
</div>
