<div class="container">
  <mat-card class="card" *ngFor="let product of products">
    <img class="image" mat-card-image src="{{product.image}}" [routerLink]="['/product', product.id]" alt="apples"/>
    <div class="title">
      <p>{{product.title}}</p>
      <p>{{product.price | currency}}</p>
    </div>
    <mat-card-actions class="buttons">
      <button class="button" mat-flat-button color="primary" (click)="addToBasket(product)" type="button">Add</button>
      <button class="button" mat-flat-button color="primary" [matMenuTriggerFor]="menu">Edit</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteItem(product.id)">Delete</button>
        <button mat-menu-item (click)="openDialog(product)">Edit</button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>
</div>
