.container {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  min-height: 84vh;
  gap: 20px;
}

.card {
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 300px;
  border-radius: 5%;
  max-height: 350px;
}

.image {
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
  cursor: pointer;
}

.title {
  display: flex;
  font-size: 20px;
  margin: 10px 10px 0;
  color: #ffffff;
  justify-content: space-between;
}

.buttons {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.logo {
  user-select: none;
}
