.container {
  display: grid;
  max-width: 1280px;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}

.card {
  background-color: #fff;
  max-width: 300px;
  border-radius: 5%;
}

.button {
  margin-right: 5px;

}

.image {
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
  cursor: pointer;
}

.title {
  display: flex;
  font-size: 20px;
  margin: 10px 10px 0;
  justify-content: space-between;
}

.example-spacer {
  flex: 1 1 auto;
}

.buttons {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.example-spacer {
  flex: 1 1 auto;
}

.header {
  max-width: 1600px;
}

.toolbar {
  display: flex;
  align-items: center;

  &.button {
    margin-left: 5px;
    justify-content: flex-end;

    &:first-child {
      margin-left: 0;
    }
  }
}

.logo {
  user-select: none;
}

.store-icon {
  margin-right: 5px;
}
