<mat-toolbar color="primary" *ngIf="canEdit">
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <button class="toolbar button" mat-flat-button (click)="openDialog()">Add product</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <mat-card class="card" *ngFor="let product of products">
    <img class="image" mat-card-image src="{{product.image}}" alt="apples"/>
    <div class="title">
      <p>{{product.title}}</p>
      <p>{{product.price | currency}}</p>
    </div>
    <mat-card-actions class="buttons">
      <button class="button" mat-flat-button color="primary">Add</button>
      <button class="button" mat-flat-button color="primary" [routerLink]="['/product', product.id]">Details</button>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer-for-products></app-footer-for-products>
