.container {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 84vh;
  gap: 20px;
}

.card {
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 300px;
  border-radius: 5%;
  max-height: 350px;
}

.button {
  margin-right: 5px;
}

.image {
  max-width: 250px;
  max-height: 250px;
}
