.example-form {
  margin: 20px 0;
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 10px;
}
