.header {
  height: 8vh;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar {
  display: flex;
  align-items: center;

  &.button {
    margin-left: 5px;
    justify-content: flex-end;

    &:first-child {
      margin-left: 0;
    }
  }
}

.logo {
  user-select: none;
}

.store-icon {
  margin-right: 5px;
  width: 24px;
}

.menu-burger {
  display: none;
}

@media (max-width: 570px) {
  .menu-burger {
    display: flex;
  }
  .menu-normal {
    display: none;
  }
}

@media (max-width: 400px) {
  .store-icon {
    display: none;
  }
  .name {
    display: none;
  }
}

