<mat-toolbar class="header" color="primary">
  <div class="toolbar logo">
    <mat-icon class="store-icon">storefront</mat-icon>
    <span>Apple Store</span>
  </div>
  <span class="spacer"></span>
  <div class="toolbar no-select">
    <button class="toolbar button" mat-flat-button routerLink="">Main</button>
    <button class="toolbar button" mat-flat-button routerLink="products">Products</button>
    <button class="toolbar button" mat-flat-button routerLink="basket">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>
